NODE_ENV=production
MEDIA_ROOT=/media
MEDIA_EXCLUDE=/media/Foto
CLIENT_FIRST=true
TRACK_OPTIMIZER=true
VIDEO_TRANSCODE_ENABLED=false
SOFTWARE_VIDEO_TRANSCODE=false
SESSION_SECRET=replace_me

POSTGRES_DB=vela
POSTGRES_USER=vela
POSTGRES_PASSWORD=replace_me
